<html>
    <body>
      <h1>{{heading}}</h1>
      <p>About</p>
      <form method="POST" action="../api/users/">
        <label htmlFor="email">Email</label>
                <input
                    ref={register}
                    id="email"
                    name="email"
                    type="email"
                    required={true}
                />
                <label htmlFor="password">Password</label>
                <input
                    ref={register}
                    id="password"
                    name="password"
                    type="password"
                    required={true}
                />
                <label htmlFor="password2">Confirm Password</label>
                <input
                    ref={register}
                    id="password2"
                    name="password2"
                    type="password"
                    required={true}
                />
                <button type='submit'>Sign Up</button>
      </form>
      already have an account? <a href="./login">sign in</a>
    </body>
</html>