extends ../../partials/layouts/layout

block content  
  h1 Add Ingredients
  if message
    h2= message
  div
    input(id='file',type='file',value='',placeholder='', name='file' accept="image/*")
  div#foodLabels