<html>
    <body>
      <h1>{{db_result.heading}}</h1>
      <h1>{{time}}</h1>
      <p>Make this a login/ signup page.. could add middleware inside route to redirect if already logged in???</p> 
    </body>
</html>