doctype html
html
  head
    title Recipes
    script(src='../../../script.js')
    link(href='../../../styles.css', rel='stylesheet' Content-Type='text/css')
    //- DEPLOY MAY REQUIRE CHANGING THE VALUES BACK TO JUST script.js and styles.css without the dots!!
    //- ANOTHER JOY OF FIREBASE!!!!!!!!!
    script(src='script.js')
    link(href='styles.css', rel='stylesheet' Content-Type='text/css')
  body
    nav
        a(href='#') logout
    block content

    footer#footer
        p Copyright (c) foobar